*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #f4aa42, #41a0f4);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px); /*4 columns*/
    grid-template-rows: minmax(120px, auto) repeat(5, 100px); /*5 rows*/
}

.calculator-grid > button {
    cursor: pointer; 
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75); /*slightly opaque buttons*/
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9); /*changing the buttons more solid on hover*/
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1; /*causes the display to fill the entire top row*/
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items:  flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all; /*so the text wraps down when it is too long*/
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}